version: "3.9"

services:

  selenium-hub:
    image: selenium/hub:4.19.1
    container_name: selenium-hub
    ports:
      - "4444:4444"
    environment:
      - SE_OPTS=--log-level INFO

  chrome:
    image: selenium/node-chrome:4.19.1
    shm_size: 2gb
    container_name: chrome-node
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    ports:
      - "7900:7900"
