<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Suite" verbose="1">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Run Google Test">
        <classes>
            <class name="testcases.TC_00_Test"/>
        </classes>
    </test>
</suite>
